 html, body {
    padding: 0;
    margin: 0;
}

body {
    font-family: arial;
    font-size: 100%;
    background-color: #ccc;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

 body > main h1 {
    text-shadow: 3px 2px #ffd700;
    transition: font-size 2s ease 0s;
}

body > main h1:hover {
    font-size: 5em;
}

main article header p + p { 
    
    font-size: smaller; 
    font-style: italic; 
}

a {
    color: #b62222;
}
h2 a {
    color: #0E2F44;
}
img {
    width: 100%;
}
video {
    width: 100%;
    height: auto;
}


main, body > section, aside {
    width: 18%;
    margin: 0 1em;
    padding: 0 2em;
    background-color: #fff;
    margin-bottom: 2em;
}

main {
    order: 2;
    width: 50%;
}

aside {
    order: 3;
}
body > section {
    order: 4;
    width: 72%;
}
body > footer {
    order: 5;
}

body > header {
    background: #0e2f44;
    color: #fff;
    padding: 2%;
    margin: 0 0 10px 0;
    width: 100%;
    order: 1;
}
body > header h1, body > header img {
    float: left;
}
body > header p {
    position: absolute;
    width: 40%;
    top: 4em;
}

body > header nav {
    float: right;
}

body > header ul {
    list-style: none;
    padding: 0;
}

body > header ul li {
    text-align: center;
    margin: 10px 0;
    float:left;
}

body > header form {
    clear: both;
    float: right;
    margin: 0.5%;
}

body > header p.to-profile {
    top: 8em;
}

body > header p.to-profile a, body > header p.to-profile a:hover {
    color: #a8e9ed;
}

body > header ul li a {
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
    display: block;
}

body > header ul li a:hover {
    background-color: #f5f5f5;
}

body > header ul li:hover a,  p.to-profile:hover a, a[rel="bookmark"]:hover {
    color: #000;
    cursor: pointer;
}
.related > article {
    float: left;
    padding: 1.5%;
    width: 17%;
}

a[rel="bookmark"] {
    background: #0E2F44;
    color: #fff;
    display: block;
    margin: 10px 0 0 0;
    padding: 4%;
    border-radius: 0 20px 20px 0px;
}
a[rel="bookmark"]:hover {
    color: #ccc;
}
blockquote {
    margin: 0;
    padding: 15% 0 0 15%;
    border-left: 5px solid #ccc;
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0;
    vertical-align: -0.3em;
}

blockquote p:first-child {
    display: inline;
}

body > footer {
    color: #ffffff;
    background-color: #0E2F44;
    clear: both;
    display: flex;
    flex-direction: row-reverse;
}

body > footer > * {
    width: 15%;
    padding: 0 2%;
}

body > footer > *:first-child {
     margin-right: 0;
}

body > footer section#sitemap ul {
    padding: 0;
    list-style: none;    
}

body > footer a {
    color: #a8e9ed;
}

body > footer input[type="search"] {
    width: 100%;
}
body > footer input[type="submit"] {
    float: right;
    margin: 1% 0 0 0;
}
body > footer section#sitemap ul li a {
    background-color: #F5F5F5;
    color: #000;
    padding: 4%;
    display: block;
    text-decoration: none;
}
body > footer section#sitemap ul li a:hover {
    text-decoration: underline;
}
body > footer section#sitemap ul li ul li a {
    background: #ccc;
    padding-left: 10%;
}
body > footer section#sitemap ul li ul li a:before {
    content: " > ";
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px)  {
      
      body > header p.to-profile {
          top: 8em;
      }
      
      aside {
          width: 24%;
      }
      main {
          width: 59%;
      }
      
      body > section {
          width: 89%;
      }
}
    
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {
	  
      body {
		font-size: 1em;
	  }
	  body > header h1, body > header p, body > header img, body > header ul, body > header nav {
          position: static;
          float: none;
          margin: 0;
          padding: 0;
      }
      body > header ul li {
          float: none;
          margin: 0;
      }
      body > header ul li a {
          background: #F5F5F5;
          color: #000;
          margin: 1%;
      }
      body > header p {
          width: auto;
      }
      body > header p.to-profile {
          margin: 0;
          text-align: right;
      }
      body > header form {
          display: none;
      }
      body > header p.to-profile {
          text-align: left;
      }
      
      main, body > section, aside {
          width: 100%;
      }
      
      .related > article {
          padding: 0;
          float: none;
          width: auto;
          display: none;
      }
      
      body > footer {
          display: block;
      }
      body > footer > * {
          width: auto;
      }
      body > footer #sitemap {
          display: none
      }
    
      main section ol {
          margin: 0 0 1em 1em;
      }
}
